.move-wrap {
  position: fixed;
  top: 30%;
  left: 50%;
}
.move-wrap-inside {
  top: 50%;
  left: 35%;
  margin-top: 25%;
}
.boder-1 {
  border-right: 1px solid #cad1d7;
}
.boder-1-invalid {
  border-right: 1px solid #fb6340;
}
.download-process-container {
  padding: 10% 0;
}
