@mixin placeholder-color {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #9eadba;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9eadba;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9eadba;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #9eadba;
  }
}

.move-title {
  border: none;
  font-size: 20px;
  color: #9eadba;
  // @include placeholder-color;
  padding: 0px;
}
.discription-btn {
  border-radius: 50% !important;
  padding: 0px;
  width: 28px;
  height: 28px;
  line-height: 40px;
  justify-content: center;
  background: #000;
  color: #fff;
}

// #left-container,
// #right-container {
//   transition: all 0.3s ease-out;
//   position: absolute;
//   background: rgba(0, 0, 0, 0.27);
//   top: 0;
//   height: 50px;
//   z-index: 1;
// }
.fram-picker {
  .input-range__slider {
    width: 7px;
    cursor: ew-resize;
    background: #3ab59b;
    border-color: #3ab59b;
    border-radius: 0px;
    top: -17px;
    transform: none;
    height: 50.1px;
    &:active {
      transform: none;
      box-shadow: none;
    }
  }
}
.video-complete-popup {
  max-width: 600px;
  .vieos-add-section {
    max-width: 100%;
  }
  .set-content-wrap {
    min-height: unset;
  }
  .modal-body {
    background: #fff;
  }
  .video-add-banner {
    background: #e6ebf1;
    position: relative;
    video {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
  .play-ic-wrap {
    position: absolute;
    background: #060606;
    box-shadow: 0px 0px 3px 1px #8e8e8e;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.video-spinner {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: transparent;
  text-align: center;
  img {
    width: 50px;
    margin: 0px auto;
    height: auto;
  }
}
.video-player {
  position: relative;
}

.video-maxlength-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dd0e0e;
  span{
    height: 24px;
    display: block;
  }
}

.range-slider .input-range__track--background .input-range__track {
  cursor: ew-resize;
}
.video-tip-block{
  opacity: 0;
  &.video-tip-show{
    opacity: 1;
  }
}