// .controls {
//   position: relative;
//   .progress {
//     position: absolute;
//     bottom: 17px;
//     width: 100%;
//   }
//   .input-range {
//     z-index: 1;
//     .input-range__track {
//       background: none;
//     }
//     .input-range__track--active {
//       opacity: 0;
//     }
//   }
// }
.plus-ic-wrap{
    position: absolute;
    z-index: 9;
    left: 5px;
    top: 5px;
}