$theme: #949494;
$lightTheme: #c2c2c2;
$balckColor: #000;
$whiteColor: #fff;
$textColor: #293845;
$videoAddBannerBorder: #9eadba;
$videoAddBannerBack: #dfe7ed;
$dashboardTextColor: #455358;
$dashboardTextLight: #868686;
// @import "./assets/scss/custom/variables.scss";
body {
  .cursor_pointer {
    cursor: pointer;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }
}
.dashboard-right-profile {
  display: flex;
  border-top: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  border-bottom: 0;
  margin: 0 0 -1px 0;
  top: -1px;
  position: relative;
}
.btn-btn-right {
  margin: auto;
  margin-right: 44px;
}
.user-profile {
  margin: 20px auto 10px;
}
.profileAvtar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.settingForm {
  max-width: 850px;
  margin: auto;
}
.setting-account-type {
  width: 100%;
  border-bottom: 1px solid #172b4d;
  line-height: 0.1em;
  margin: 31px 0px 38px;
}
.control {
  margin-left: 45px;
}
.btn-btn-save {
  margin-top: 25px;
  margin-left: 12px;
}

.theme-header {
  background-color: $balckColor;
  color: $whiteColor;
  z-index: 9;
  position: fixed;
  width: 100%;
  top: 0px;
  .header-title {
    font-size: 34px;
    font-weight: bold;
    color: $whiteColor;
  }
  .login-in-wrap {
    flex-flow: row;
    & > span {
      cursor: pointer;
    }
  }
}
.font-dark-bold {
  font-weight: bold;
}
.btn {
  text-transform: capitalize;
  padding: 8px 20px;
  box-shadow: none !important;
  transform: none;
  font-size: 16px;
  &:hover {
    box-shadow: none;
  }
  &.light-btn {
    border: 2px solid $lightTheme;
    color: $theme;
    background: transparent;
  }
}
.banner-heading {
  font-weight: bold;
  font-size: 37px;
  color: $textColor;
}
.banner-content {
  font-weight: 600;
  font-size: 18px;
  color: $textColor;
}
.fill-btn {
  border: 2px solid $theme;
  color: #fff;
  background: $theme;
  &:hover {
    color: #fff;
    background: $theme;
    border: 2px solid $theme;
  }
}

.home-video-section {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px dashed $videoAddBannerBack;
  .video-add-banner {
    cursor: pointer;
    height: 100%;
    background: $videoAddBannerBack;
    border: 2px dashed $videoAddBannerBorder;
    .play-ic-wrap {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $videoAddBannerBorder;
      border-radius: 50%;
      font-size: 55px;
      padding-left: 8px;
      color: $videoAddBannerBack;
    }
  }
}
.theme-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}
.theme-heading {
  font-weight: bold;
  color: $textColor;
}
.play-list-collection {
  .play-list-img {
    height: 180px;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .play-list-text {
    padding: 10px 15px;
    border: solid $videoAddBannerBorder;
    border-width: 0px 2px 2px 2px;
    .play-list-heading {
      font-weight: bold;
    }
  }
  .add-play-list-block {
    border: 2px dashed $videoAddBannerBack;
    height: 100%;
    padding: 15px;
  }
  .play-list-block {
    padding-bottom: 30px;
  }
}
.home-message-section {
  .home-message-btn {
    width: 100%;
    max-width: 150px;
  }
}
.dashboard-full-section {
  display: flex;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 85px;
  background: #f0f0f0;
  .dashboard-left-wrap {
    height: 100%;
    display: block;
    max-width: 100%;
  }
  .app-sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    bottom: 0px;
    top: 85px;
    .dashboard-left-wrap {
      overflow: auto;
      margin: 0px;
      width: 100%;
    }
  }
  .dashboard-right-wrap {
    padding: 40px;
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    position: relative;
  }
  a {
    color: $dashboardTextColor;
  }
  .dashboard-left-wrap {
    background: $whiteColor;
    position: relative;
    box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);
  }
  .content-header {
    color: $dashboardTextColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content-title {
      color: $dashboardTextColor;
      font-size: 28px;
      font-weight: 600;
    }
    .dashboard-right-content {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .draft-wrap {
    background: $dashboardTextColor;
    color: #fff;
  }
  .badge-wrap {
    padding: 0px 5px;
  }
  .cotent-tile {
    padding: 0px 15px;
  }
  .card {
    padding: 15px;
  }
  .tile-wrap {
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #cacaca;
    margin-top: 15px;
    padding: 5px 0px;
  }
  .content-heading-tile {
    font-weight: bold;
    color: #455358;
    font-size: 20px;
  }
  .content-number-tile {
    color: #868686;
    font-size: 14px;
  }
  .cotent-text-tile {
    width: 100%;
  }
  .cotent-img-tile {
    min-width: 90px;
    max-width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center center;
  }
  .bottom-content-tile {
    padding: 0px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .teacher-profile-img {
      box-shadow: 0px 0px 2px 0px #535353;
      min-width: 30px;
      border-radius: 50%;
      height: 30px;
    }
    .bottom-text-tile {
      color: $dashboardTextColor;
      margin: 0px 5px;
      font-size: 12px;
      font-weight: bold;
    }
    .bottom-light-tile {
      // @extend .bottom-text-tile;
      color: $dashboardTextLight;
    }
  }
}
.log-user-wrap {
  .social-wrap {
    a {
      border: 2px solid #ccc;
    }
  }
  .form-group .input-group {
    box-shadow: 0 1px 4px 2px rgba(50, 50, 93, 0.15);
    background: #fff;
  }
}
.log-user-model {
  .login-heading {
    color: #000;
    font-weight: 600;
    font-size: 20px;
  }
  .card-header {
    padding-bottom: 25px;
  }
  .card-body {
    background: #dfe7ed;
  }
}
.modal-header {
  padding: 0px;
  border: none;
  .close {
    position: absolute;
    right: -46px;
    opacity: 1;
    padding: 0px;
    top: 26px;
    span {
      color: #fff;
      font-size: 53px;
    }
  }
}
.btn-black {
  background: $balckColor;
  border: $balckColor;
  color: $whiteColor;
  &:hover {
    background: #343434;
    border: #343434;
    color: $whiteColor;
  }
}
.btn-line-black {
  color: $balckColor;
  background: #fff;
  border: 1px solid $balckColor;
  &:hover {
    color: #343434;
    background: #fff;
    border: 1px solid #343434;
  }
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #000;
  background-color: #000;
}
.social-media-wrap {
  .btn-inner--icon {
    display: inline-block;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
    button {
      transform: none;
      color: #415e9b;
      font-size: 17px;
    }
    &.google-wrap button {
      padding: 0px 20px !important;
      & > span {
        color: #ed5a4e;
        font-size: 17px;
        padding: 8px !important;
      }
      & > div {
        padding: 8px 8px 8px 0px !important;
      }
    }
  }
}
.forgot-password-wrap {
  color: #000;
  font-weight: bold;
}
.facebook-wrap {
  i.fa.fa-facebook {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #3b5998;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 20px;
    &::before {
      line-height: 20px;
    }
  }
}
.nav-main-section {
  .nav-link-inner--text{
    cursor: pointer;
  }
  .dropdown-menu {
    top: auto !important;
    right: 0px !important;
    left: auto !important;
    padding: 0px;
    border: 2px solid #fff;
    &::before {
      right: 20px;
      left: auto !important;
      height: 22px;
    }
    .dropdown-item {
      cursor: pointer;
      font-size: 16px;
    &:hover{
        background-color: #c2c2c2;
        color: #fff;
      }
      &:active, &:focus{
        background-color: #595959;
        color: #fff;
      }
      &:first-child {
        border-radius: 5px 5px 0px 0px;
      }
      &:last-child {
        border-radius: 0px 0px 5px 5px;
      }
      &.active {
        background: #000;
      }
    }
  }
}
.user-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px!important;
  &::after{
    border-top: 0.6em solid;
    border-right: 0.6em solid transparent;
    border-left: 0.6em solid transparent;
  }
}
.user-wrap {
  display: flex;
  align-items: center;
  .user-img {
    width: 32px;
  }
  .user-text {
    padding: 0px 15px 0px 8px;
    font-size: 22px;
  }
}
.nav-main-section{
  display: flex;
    align-items: center;
    flex-direction: row;
}