.profilepic {
  width: 55px;
  height: 45px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #bdbdc3;
}
.profileimg-wrap {
  margin: 1px auto 10px;
}
.text-light{
  color: rgb(54, 53, 53);
}
.img-tile-wrap{
  background: #ffffff;
  padding: 10px;
  box-shadow: -1px 1px 8px 2px #d8d4d4a6;
}
.disable-span {
  color: #e6e6e6;
  cursor: not-allowed;
}
.capitalize {
  text-transform: capitalize;
}
